<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title>New Message</title>
  </head>
  <body>
    <div class="container">
      <h1>Leave a Message</h1>
      <form action="/new" method="POST">
        <input type="text" name="user" placeholder="Your name" required />
        <textarea
          name="text"
          rows="4"
          placeholder="Your message"
          required
        ></textarea>
        <button type="submit">Post Message</button>
      </form>
      <div style="margin-top: 2rem">
        <a href="/"><button>Back to Messages</button></a>
      </div>
    </div>
  </body>
</html>
