<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <div class="container">
      <h1>Mini Message Board</h1>

      <% messages.forEach(message => { %>
      <div class="message">
        <a href="/message/<%= message.id %>"
          ><button class="open-button">Open</button></a
        >
        <p><strong><%= message.user %></strong></p>
        <p><%= message.text %></p>
        <p><em>(<%= message.added.toLocaleString() %>)</em></p>
      </div>
      <% }) %>

      <p>
        <a href="/new"><button>Add a new message</button></a>
      </p>
    </div>
  </body>
</html>
